<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">

<div class="container-fluid">

	<div id="banner" class="col-lg-12">

	<div class="row">

		<div class="col-lg-12">

			<h1 style="font-family: 'Oswald', sans-serif" id="title">Welcome to WasteNot</h1>

		</div>

		<div class="col-lg-2 col-lg-offset-5">

			<img class="img-responsive" src="http://pngimg.com/upload/pizza_PNG7151.png">

		</div>

	</div>

	<div class="row">

	<div class="col-lg-2 col-lg-offset-5">

		<a style="float: center" href="new"><button type="button" class="btn btn-primary">Give Food!</button></a>

	</div>

	</div>

	</div>

<br>
 
<div class="row">
<% @posts.each do |post| %>
  <div class="col-sm-6 col-md-4" id="<%= post.id %>">
    <div class="thumbnail">
      <img src="<%= post.image %>" width="350px">
    </div>
    <div class="info">
        <h4><%= post.title %></h4>
        <p><%= post.desc %></p>
    </div>
    <a href="posts/<%= post.id %>"><button type="button" class="btn btn-primary">Primary</button></a>
  </div>
<%end %>
</div>

</div>