<body id="sign-in">
<div class="border-form-div">
<%= form_for(@post) do |f| %>
    <p>
        Title:
        <%= f.text_field :title, :required => true %>
    </p> 
    <p>
        Decsription:
        <%= f.text_field :desc, :required => true %>
    </p> 
 <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% end %>
  </div>
   <p style="margin-top: 10px">
      <%= f.submit "Post Food", :class => 'btn btn-success' %>
   </p>
<% end %>
</div>
</body>