<%= form_for(@post) do |f| %>
    <p>
        titles
        <%= f.text_field :title, :required => true %>
    </p> 
    <p>
        Decsrtips
        <%= f.text_field :desc, :required => true %>
    </p> 
 <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
    <% if f.object.image? %>
      <%= image_tag f.object.image.thumb.url %>
      <%= f.label :remove_image %>
      <%= f.check_box :remove_image %>
    <% end %>
  </div>
   <p>
      <%= f.submit "Post Food", :class => 'btn btn-success' %>
   </p>
<% end %>